h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    position: relative;
    left: -200px; /* text-align: center; */
    margin-left: 25rem;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    position: absolute;
    margin-left: 35rem; 
    margin-top: 10rem;
    list-style-type: circle;
}

* {
    box-sizing: border-box !important;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left !important;
  }

  .left {
    width: 50% !important;
  }
  
  .right {
    width: 50% !important;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "" !important;
    display: table !important;
    clear: both !important;
  }